# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset Store tools
Assets/AssetStoreTools*

# Visual Studio
.vs/
.vscode/
.idea/

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage